<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div>&copy;ROAM-AN Pvt Ltd</div>
        <div class="f-info-links">
            <a href="/footer/privacy">Privacy</a>
            <a href="/footer/terms">Terms</a>
        
    </div>
</footer>