<%- layout('/layouts/boilerplate') %>

<div class="row mt-4">
    <div alss="alert alert-danger col-6 offset-3 mt-4" role="alert">
       <h3 class="alert-heading"><%=err.message %></h3>
       <h3 class="text-danger">CODE: <%=err.statusCode %></h3>
    </div>
</div>